html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
  font-size: 23%;
}

.card-deck .card {
  min-width: 220px;
}

.price{
  font-size: 2%;
}