/* You can set some specific CSS of interest here*/
.App-logo {
  height: 10vmin;
}
.Navline{
  position:relative;
  margin-top: 0%;
  margin-right: 0px;
  border-bottom: 2px solid #6F8031;
  z-index: 2;
}


.profileicon {
  height: 3vmin;
}

/*
.container-fluid {
  background-color: #f0f0f0;
}
*/

/* .Navi2{
  z-index: -1;
  padding-top: 50%;
  margin-right: 0px;
 
} */
 .Nalink{
  color: #6F8031;
}
.Nalink:hover{
  color: #6F8031;
} 

.Navitext{
  position: relative;
  z-index:1;
  font-size: xx-large;
  color: #6F8031;
}
.yogapose2{
  position: absolute;
  margin-bottom: auto;
  left: auto;
  right: auto;
  bottom: auto;
  top:0;
  max-height: 10vmin;
  z-index:2;
}

.Navitext:hover {
  color:  #61702b;
}

.yogapose2{
  position: absolute;
  margin-bottom: auto;
  left: auto;
  right: auto;
  bottom: auto;
  top:0;
  max-height: 10vmin;
  z-index:2;
}
/* .flex-container{
  display: flex;
  width: 50%;
  height: auto;
} */

.title{
  color: #a4be44;
}

.title:hover{
  color: #5a6828;
}

/* .card{
  max-width: 540px;
} */




/* Taller footer on small screens */
@media (max-width: 34em) {
    body {
      margin-bottom: 500px;
    }
    .footer {
      height: 500px;
    }
}


.aboutusimg{
  width: 550px; 
  height: 1000px;
  margin-Left: 560px;
}



.Footerbt {
  position: absolute;
  bottom: 10;
  width: 100%;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #6F8031;
  font-size: 12px;
  
}

input { color: #6F8031; }
.select-wrapper+label { color: #6F8031; }

/* .justify-content-end{
  background-color: #6F8031; 
} */
/* .navline{
  border-top: 2px solid #6F8031;
  margin-right: 80px;
  margin-left: 80px;
} */
.carousel-at-top-position{
  position:absolute;
  top:0;
}

.restrict-home-carousel-height{
  max-height: 100vh;
}

.carousel-caption {
  top: 70%;
  bottom: auto;
  
}

.carousel-indicators{
  top: 90%;
  bottom: auto;
}


* {
  box-sizing: border-box;
}

.Contactus {
   max-width: 420px;
   margin: 0 auto;
}

p {
   text-align: left;
   font-weight: 500;
}
input[type=text],input[type=email], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   margin-left: auto;
   resize: vertical;
}
input[type=submit] {
   
   color: #61702b;;
   padding: 12px 20px;
   border: #61702b;
   border-radius: 4px;
   cursor: pointer;
}
input[type=submit]:hover {
   background-color: #648d23;
   color: rgb(233, 233, 233);
   
}
/* .container {
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
} */